body{
    background-color:white;
    margin: 0;
}

h1{
    font-size: 50px;
}

.container {
    
    height: 100vh;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

div.panel{

    
    background-color:black;
    width: 30%;
    height: 30%;
    padding:15px 15px;
}

div.navbar{

    overflow: hidden;
    background-color: black;
    position: fixed;
    width: 100%;
    top:0;
    


}

div.navbar a{
    float:left;
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

div.navbar img{

    float:left;
    display:block;
    color:black;
    text-align: center;
    padding: 5px 16px;
}
